<header>
  <img
    src="assets/img/leo.png"
    alt="foto Pessoal"
    width="130px"
    height="130px"
    loading="eager"
  />
  <h1>Leonardo Valões</h1>
</header>

<aside>
  <!--CONTINUA O HEADER-->
  <div class="container">
    <p>Front-end Javascript Dev | Angular | bootstrap | JS | TS</p>
    <p>Curitiba, Paraná, Brasil</p>
    <p>
      Entrei ná area do desenvolvimenmto de software agora, decidi escolher o
      JAVASCRIPT pela ampla opção de áreas para seguir
    </p>
  </div>

  <nav>
    <ul>
      <li>
        <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
          Download CV</a
        >
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/leonardo-berlanda-de-val%C3%B5es-21828a2a4/"
          target="_blank"
          class="btn btn-secondary"
        >
          LinkedIn</a
        >
      </li>
    </ul>
  </nav>

  <section>
    <figure>
      <img
        src="assets/icons/whatsapp.svg"
        alt="icone para contato do wpp"
        width="22px"
        height="24px"
      />
      <figcaption>
        <a href="Http://wa.me/5541998989019" target="_blank"
          ><strong>Envie uma mensagem para:</strong>
          <p>WhatsApp: (41) 9 9898-9019</p></a
        >
      </figcaption>
    </figure>

    <figure>
      <img
        src="assets/icons/mail.svg"
        alt="icone para contato do e-mail"
        width="22px"
        height="24px"
      />

      <figcaption>
        <a href="mailto:leonardoberlandadevaloes@gmail.com" target="_blank"
          ><strong>Envie um e-mail para:</strong>
          <p>leonardoberlandadevaloes&#64;gmail.com</p></a
        >
      </figcaption>
    </figure>
  </section>
</aside>
